.body {
    background-color: #363949;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: hidden;

  }
  .container {
    width: 500px;
    height: 650px;
    margin: 120px auto;
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5));
  }
  .login {
    width: 500px;
  }
  form {
    width: 230px;
    margin: 100px auto;
  }
  form h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 32px;
    color: #f6f6f9;
  }
  p {
    text-align: center;
  }
  form label {
    display: block;
    font-size: 32px;
    font-weight: 600;
    padding: 8px;
    color: #f6f6f9;
  }
  input {
    width: 100%;
    height: 20px;
    padding: 8px;
    margin: 8px;
    outline: none;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
  }
  button {
    width: 250px;
    margin: 8px;
    padding: 8px;
    background: rgb(73, 184, 236);
    outline: none;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  button:hover span {
    padding-right: 30px;
  }
  button:hover span:after {
    opacity: 1;
    right: 0;
  }
  p a {
    text-decoration: none;
    color: black;
  }
  hr {
    border-top: 2px solid rgb(73, 184, 236);
  }
  p{
    color: #f6f6f9;
  }
  